@media (max-width: 640px) 
{
    aside
  {
  	background: none;
  	float: none;
  	width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  aside p, ul
  {
  	padding: 0px 20px;
  	color: black;
  }
  .loisirs i
  {
  	padding-left: 0px;
  	padding-right: 0px;
    margin: 0px 15px 0px 20px;
  }
  .contact, .moi, .loisirs
  {
  	background-color: orange;
  	display: block;
    align-items: center;
    float: none;
    padding-bottom: 5px;
  }
  img
  {
 	max-width: 80px;
 	display: flex; 
 	margin: 5px 0px 0px 5px;
  }
  #titre
  {
    top: 5px;
    right: 0px;
    padding: 0px;
    position: absolute;
 	font-size: 0.5em;
 	width: 60%;
 	margin: 0px 15px;
  }
  .container 
  {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
    .container h2
  {
    font-size: 1.3em;
    
  }

 }