

body
{
  margin: 0;
  display: flex;
}
#bloc_page
{
	width: 900px;
	margin: auto;
}
body
{
	font-family: verdana, arial, georgia;
}
h1, h2
{
	font-family: arial;
}
strong
{
	color: orange;
}

/****************************/
/***********ASIDE************/
/****************************/

aside
{
	font-size: 1em;
    background-color: orange;
    color: black;
    max-width: 20%;
    min-width: 25%; 
}
#circle 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10% auto 0px auto;
	display: block;
}
#circle
{
	background-position: center;
	background-size: 150px;
}
ul
{
	list-style-type: none;
}
aside h2
{
	text-align: center;
	background-color: black;
	color: orange;
}
.moi p
{
	padding: 0px 20px;
	padding-top: 5%;
	padding-bottom: 5%;
}
.loisirs i
{
	color: black;
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 30px;
}
.contact ul
{
	padding: 0px 20px;
	min-width: 250px;
	padding-top: 5%;
	padding-bottom: 5%;
}

/****************************/
/***********RIGHT************/
/****************************/

#titre
{
	margin-top: 5%;
}
i
{
	color: orange;
}
span
{
	border-bottom: solid orange 2px;
}
.container
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 20px; 
}
#right
{
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	padding-right: 5%;
}
section h1
{
	font-size: 4em;
	margin: auto 0;
}
.container h2
{
	border-bottom: solid orange 2px;
	padding-bottom: 10px;
}
h3
{
	font-size: 1em;
}
.form_ligne
{
	display: flex;
	justify-content: space-between;
}

.col_description, .col_poste
{
	width: 60%;
}
.col_date
{
	display: flex;
	justify-content: center;
}
#cercles, #cercles_2
{
	margin-top: 18px;
	margin-right: 10px;
}

#point, #point_2, #point_3
{
	margin-right: 10px;
	margin-top: 18px;
}

/****************************/
/*********FORMATION**********/
/****************************/

.formation
{
	margin-top: 5%;
}
#grad
{
	margin-right: 25px;
}

/****************************/
/************XP**************/
/****************************/

.experience
{
	margin-top: 5%;
}
#case
{
	margin-right: 25px;
}



/****************************/
/************RECO************/
/****************************/


.recommandation
{
	margin-top: 20px;
	margin-bottom: 5%;
}
#pen
{
	margin-right: 25px;
}
.lea
{
	display: flex;
	float: left;
	width: 25%;
	flex-direction: column;
	
}
.antho
{
	display: flex;
	text-align: left;
	width: 25%;
	flex-direction: column;
	margin-left: 50%;
}
