
@media (min-width: 640px) and (max-width: 992px) 
{
  aside
  {
  	max-width: 35%;
  	min-width: 40%;
  }
   .loisirs i
  {
	color: black;
	padding: 0px;
	margin: 0px 15px 5px 15px;
  }
  .col_date 
  {	
  	display: flex;
	justify-content: left;
	width: 50%;
  } 
  .col_description
  {
    line-height:1.5em;
	width: 60%;	
  }
  .col_poste
  {
	line-height:1.5em;
	width: 60%;
  }
  h3
  {
  	font-size: 1em;
  }
     .container h2
  {
    font-size: 1.3em; 
  }
  .moi
  {
  	padding-bottom: 100%;
  	line-height:1.5em;
  }
}