#bloc_page
{
	width: 900px;
	margin: auto;
}
body
{
	font-family: verdana, arial, georgia;
}
h1, h2
{
	font-family: arial;
}
header strong
{
	color: orange;
}
header
{
	display: inline-flex;
	flex-direction: column;
	margin-left: 30px;
	font-size: 1em;
}
aside
{
	float: left;
	font-size: 0.7em;
    background-color: orange;
    flex-direction: column;
    color: white;
    width: 30%;
    height: 1010px;
}
img
{
	margin-left: 25%;
	margin-top: 10%;
}
ul
{
	list-style-type: none;
}
aside h2
{
	text-align: center;
	background-color: grey;
}
.contact
{
	justify-content: space-around;
}
.moi p
{
	width: 75%;
	margin-left: 40px;
}
.loisirs i
{
	color: white;
}
section
{
    margin-left: 10px;
    font-size: 0.7em;
    height: 740px;
}
.experience
{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 25%;
}
.recommandation
{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	height: 25%;
}
section h2
{
    text-align: center;
	font-family: arial; 
}
.formation
{
	height: 20%;
}	
.date
{
	float: left;
	width: 140px;
	margin-top: 30px;	
}
.diplome
{
	margin-top: 55px;
	margin-left: 150px;
}
i
{
	color: orange;
	width: 65px;
}
h3
{
	font-size: 1em;
	font-family: arial;
}
div .text
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 20px;
}
#grad
{
	border: solid black 1px;	
}


/*RESPONSIVE*/
@media screen and (min-width:1024px) and (max-width:1280px)
{
	/*RESPONSIVE*/
}