
body
{
  margin: 0;
}
#bloc_page
{
	width: 900px;
	margin: auto;
}
body
{
	font-family: verdana, arial, georgia;
}
h1, h2
{
	font-family: arial;
}
strong
{
	color: orange;
}

/****************************/
/***********ASIDE************/
/****************************/

aside
{
	float: left;
	font-size: 1em;
    background-color: orange;
    flex-direction: column;
    color: white;
    width: 20%;
}
img
{
	margin: 10% auto 0px auto;
	display: block;
}
ul
{
	list-style-type: none;
}
aside h2
{
	text-align: center;
	background-color: black;
	color: orange;
}
/*.contact
{
	justify-content: space-around;
}*/
.moi p
{
	padding: 0px 20px;
}
.loisirs i
{
	color: white;
	padding-left: 45px;
}

/****************************/
/***********DROITE***********/
/****************************/
i
{
	color: orange;
	width: 65px;
}
#titre
{
	margin-left: 10%;
	margin-top: 30px;
}
span
{
	border-bottom: solid orange 2px;
}
.container
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 20px;
}
section
{
	display: flex;
	flex-direction: column;
}
section h1
{
	font-size: 4em;
	margin: auto 0;
}
.container h2
{
	border-bottom: solid orange 2px;
	margin-right: 10%;
	margin-left: 10%;
	padding-bottom: 10px;
}
#cercles, #point
{
	width: 20px;
	align-items: left;
}
h3
{
	font-size: 1em;
}

/****************************/
/*********FORMATION**********/
/****************************/

.formation
{
	margin-top: 5%;
}
#grad
{
	margin-right: 25px;
}
.date
{
	display: flex;
	float: left;
	width: 140px;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 20px;
}
.diplome
{
	display: flex;
	text-align: left;
	width: 50%;
	flex-direction: column;
	margin-left: 40%;
	margin-top: 45px;
}

/****************************/
/************XP**************/
/****************************/

.experience
{
	margin-top: 5%;
}
#case
{
	margin-right: 25px;
}
.periode
{
	display: flex;
	float: left;
	width: 140px;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 20px;		
}
.poste
{
	display: flex;
	text-align: left;
	width: 50%;
	flex-direction: column;
	margin-left: 40%;
	margin-top: 35px;	
}


/****************************/
/************RECO************/
/****************************/


.recommandation
{
	margin-top: 20px;
}
#pen
{
	margin-right: 25px;
}
.lea
{
	display: flex;
	float: left;
	width: 25%;
	flex-direction: column;
	margin-left: 10%;	
}
.antho
{
	display: flex;
	text-align: left;
	width: 25%;
	flex-direction: column;
	margin-left: 50%;
}

/*RESPONSIVE*/
@media (min-width:1024px) and (max-width:1280px)
{
	/*RESPONSIVE*/
}
